h1{
    background-color: red;
    color: blue;
    font-size: 20px;
}
.UniBamberg {
    background-color: red;
    color: blue;
    font-size: 20px;
    /*margin*/
   /*margin-left: 10px;
    margin-top: 50 px;
    margin-right: 70px;*/
     
    /*easy way*/
   margin: 200px 300px 178px 140px ; 


    /*padding*/
   /* padding-top: 100px ;
    padding-left: 50px ;
    padding-right: 180px;
    padding-bottom: 259px;
    */

    padding: 130px 152px 170px 178px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Tahoma';
    line-height: 40px;
    word-spacing: 10px;
    width: 1000px;
    height: 1000px;
}

/*
#Bamberg{
    background-color: greenyellow;
    color: blue;
    font-size: 20px;
}
*/
 table, th, td{
     border: 1px solid black;
     border-collapse: collapse;
 }
 th{
     background-color:rgb(75, 5, 238);
     color: white;
 }
 table {
     background-color: lightblue;
    border-spacing: 5px;
}

s
 th, td{
     padding: 13px;
     text-align: center;
    
 }