h1{
    background-color: red;
    color: blue;
    font-size: 20px;
}
.UniBamberg {
    background-color: red;
    color: blue;
    font-size: 20px;
}


#Bamberg{
    background-color: greenyellow;
    color: blue;
    font-size: 20px;
}